body{
    background-image: url(/assets/img/поляна.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
    width: 1200px;
    display: flex;
    /* justify-content: center; */
    /* align-items: end; */
}
.dom{
    height: 620px;
    width: 800px;
}
.volk, .popug{
    height: 250px;
    width: 250px;
}
.volk:hover, .popug:hover{
    height: 280px;
    width: 280px;   
}

.zveri{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 70px;
    
}

